@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Hoş geldin 
        @{
            if (User.Identity.IsAuthenticated)
            {
                @User.FindFirst(ClaimTypes.Name).Value;
            }
        }
    </h1>
</div>